.app{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(to bottom, rgb(4, 80, 4), green);
}
.container{
  max-width: 800px;
  width: 90%;
  margin: auto;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}
.title{
  font-family: 'Figtree', sans-serif;
  font-size: 40px;
  color: white;
}
.short-description{
  font-family: 'Caveat', cursive;
  font-size: 25px;
  color: white;
  line-height: 25px;
  margin-bottom: 20px;
}
form{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
input{
  font-family: 'Figtree', sans-serif;
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  border: none;
  outline: none;
  padding: 15px 20px;
  border-radius: 10px;
  background-color: white;

}
button.generate-url-btn{
  width: 200px;
  font-family: 'Figtree', sans-serif;
  font-size: 18px;
  font-weight: 500;
  border: none;
  outline: none;
  padding: 15px 20px;
  border-radius: 10px;  
  background-color: rgb(0, 200, 0);
  color: white;
  margin: 10px;
  cursor: pointer;
}
.output-short-url{
  font-family: 'Figtree', sans-serif;
  font-weight: 500;
  width: 94%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: white;
  background-color: rgba(0, 200, 0, .5);
  border-radius: 10px;
}
.copy-url-btn{
  font-family: 'Figtree', sans-serif;
  font-weight: 500;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}